@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Lexend Deca', sans-serif;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
}

#title {
  text-align: center;
  margin-top: 20px;
}

.photo-container {
  margin: 10px 30%;
}

.photo-container img {
  width: 100%;
  margin-top: 5px;
}

.loader {
  position: fixed;
  background-color: rgba(240, 248, 255, 0.568);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 600px) {
  #title {
    font-size: 1.4rem;
  }
  .photo-container {
    margin: 10px 10px;
  }
}